<!DOCTYPE html>
<html>
<head>
    <title>Lung Cancer Prediction</title>
</head>
<body>
    <h1>Lung Cancer Prediction</h1>
    <form action="/predict" method="post">
        <input type="text" name="GENDER" placeholder="Gender"><br>
        <input type="text" name="AGE" placeholder="Age"><br>
        <input type="text" name="SMOKING" placeholder="Smoking"><br>
        <input type="text" name="YELLOW_FINGERS" placeholder="Yellow Fingers"><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
